<div class="home-content-top">
    <div class="home-content-left">
        {{ contentLeft | markdownify }}
    </div>

    <div class="home-content-right">
        {{ contentRight | markdownify }}
    </div>
</div>

<div class="break"></div>

<div class="home-skills-header mrg"><h2>Centre d'intérets</h2></div>
<div class="home-content-bottom">
    <div id="hobbies" class="wrapper">
        {{ contentHobbies | markdownify }}
    </div>
</div>

<div class="break"></div>

<div class="home-skills-header"><h2>Projets</h2></div>
<div class="home-content-bottom">
    <div id="projects" class="wrapper">
        {{ contentProject | markdownify }}
    </div>
</div>

<div class="break"></div>
<div class="home-skills-header"><h2>Contact</h2></div>
<div class="home-content-bottom home-contact-bottom">
    <div id="contact" class="wrapper">
        {{ contentContact | markdownify }}
    </div>
</div>
