@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/helpers/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";
@import "../../node_modules/bulma/sass/elements/box";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/tag";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/components/card";
@import "../../node_modules/bulma/sass/components/level";
@import "../../node_modules/bulma/sass/components/navbar";

@import "../../node_modules/bulma-timeline/dist/css/bulma-timeline";

html {
    scroll-behavior: smooth;
}

.has-bg-img { 
    background: url('../images/design/cover.jpg') center center;
    background-size: cover; 
}

#overview .title, 
#overview .subtitle {
    color: #ffffff;
}

img.links-logo {
    vertical-align:top;
    height: 25px;
    width: 25px;
}